


.carousel-item img{
    position: relative;
    height: 300px;
    width: 200px;
    

}



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display:flex;

    justify-content:flex- end;
    align-items: auto;
    min-height: 100vh;
    flex-direction: column;

}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background:#28292d ;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

}

footer .container{
   
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec .aboutus{
    width:40%;
}


footer .container h2{
position: relative;
color:rgb(248, 248, 249);
font-weight:500;
margin-bottom:15px;


}
footer .container h2::before{
    content:'';
    position:absolute;
    bottom:-5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #ffeb3b;


}


footer .container  p{
    
        color:rgb(246, 246, 248);
    }

footer .container h3{
color:rgb(247, 228, 26) ;
font-weight:800;
position: sticky;
}


   

.quicklinks{
    position:relative;
    width:25%
       
}
.quicklinks ul li{
    list-style: none;
}
.quicklinks ul li a{
    color: aliceblue;
    text-decoration: none;
    margin-bottom:10px;
    display: inline-block;
}
.quicklinks ul  li a:hover{
    color:yellow;
}
.contact{
    width: calc(35%-60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #fff;
}
.contact .info li  a{
    color:#999;
    text-decoration: none;

}
.contact .info li  a:hover{
    color:yellow;
}
.copyrightText{
    width:100%;
    background: #181818;
    padding:8px 100px;
    text-align: center;
    color:#999
}
@media (max-width: 991px)
{
footer
{
    padding:40px;
}
footer .container{
    flex-direction: column;
}
footer .container .sec{
margin-right: 0;
margin-bottom: 40px;


}
footer .container .sec .aboutus,
.quicklinks,
.contact
{
    width:100%;
}
.copyrightText{
padding:8px 40px;




}

}














